.modalWrap {

}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border: 1px solid #282c34;
  display: none;
  z-index: 2;
  background: #fff;
}

.modalVisible {
  display: block;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
  display: none;
}

.backdropVisible {
  display: block;
}
