.tableWrap {
  background: #eee;
}
.table {
  border-collapse: collapse;
  width: 100%;
  thead {
    tr {
      background-color: #282c34;
      color: #fff;
    }
  }
  tbody {
    tr {
      cursor: pointer;
      &.loading {
       cursor: default;
        td {
          background: none;
          text-align: center;
        }
        &:hover {
          td {
            background: none;
          }
        }
      }

      &.active, &:hover {
        td {
          background-color: #999;
        }
      }
    }
  }
  td {
    background: #ccc;
    transition: background-color .2s;
  }
  th, td {
    text-align: center;
    &:first-child{
      padding: 5px;
      text-align: right;
    }
  }
}


